* {
    font-size: 20px;
   
}

window#waybar {
    background: rgba(24, 24, 24, 0.6);
    color: #ffffff;
   
}

.modules-left,
.modules-right
{
    background: rgba(24, 24, 24, 0.6);
}

#wlr-taskbar,
#clock,
#cpu,
#memory,
#network,
#wireplumber,
#tray {
    padding: 0 10px;

}



#custom-arch {
    font-size: 32px; 
    color: #1793d1;
}

#wlr-taskbar 
{
    background: rgba(24, 24, 24, 0.6);
    color: #000000;
    font-size: 30px;
}


