* {
    /* `otf-font-awesome` and SpaceMono Nerd Font are required to be installed for icons */
    font-family: "Fira Sans Semibold", Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    transition: background-color .3s ease-out;
}

window#waybar {
    background: rgba(24, 24, 24, 0.6);
    color: #ffffff;
    font-family: 
        SpaceMono Nerd Font,
        feather;
    transition: background-color .5s;
}

.modules-left,
.modules-right
{
    background: rgba(24, 24, 24, 0.6);
}

#wlr-taskbar,
#custom-power,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
    padding: 0 10px;
    border-radius: 15px;
}

#wlr-taskbar:hover,
#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover {
    background: rgba(24, 24, 24, 0.6);
}



#custom-arch {
    font-size: 32px;
    transition: color .5s;
    color: #1793d1;
}
#custom-arch:hover {
    color: #1793d1;
}

#wlr-taskbar 
{
    background: rgba(24, 24, 24, 0.6);
    color: #000000;
    font-size: 30px;
    border-radius: 15px;
}


