[Desktop Entry]
Name=convergence.bat
Comment=Play this game on Steam
Exec=steam steam://rungameid/2338380641
Icon=/home/shota/.config/steamtinkerlaunch/games/header/2338380641.jpg
Terminal=false
Type=Application
Categories=Game;
